.report{
    width: 35%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    border:0;
   //border-bottom:  1px solid rgb(171, 171, 171);
    font-size: 1.5rem;;
    padding: 0rem 2rem 0 2rem;

    background-color: rgb(210, 244, 255);
}