/* You can add global styles to this file, and also import other style files */
body{
    margin:0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

button{
    background-color: rgb(0, 91, 188);
    color: white;
    border: 0;
    padding: 0.4rem 0.7rem;
    font-size: 0.9rem;
    border-radius: 5px;
}